In [1]:
import pandas as pd

In [2]:
import numpy as np

# Series
* A `series` is like a column in a table.
* It is a one-dimensional array and can hold data of any type.
* The main difference between a `series` and a NumPy `array` is that a series can have axis labels,   
  meaning it can be indexed by label instead of just number location.
* A pandas series can hold variety of objects such as `integers`, `strings`, `characters` etc.

## Creating a Series
We can create a `Series` from a `list`, `array`, and `dictionary`.

In [3]:
labels = ['a', 'b', 'c']
my_list = ["apple", "banana", "pineapple"]
arr = np.array([1,2,3,4])
dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

### 1. Using list

In [8]:
ser = pd.Series(data=my_list)

In [9]:
ser

0        apple
1       banana
2    pineapple
dtype: object

<p style="color: white; background: black">If we don't specify the <code>index</code> then it will use integers as index</p>

#### To access this values we can use labels

In [10]:
ser[0]

'apple'

In [11]:
ser[2]

'pineapple'

### 2. Using array

In [5]:
pd.Series(data=arr)

0    1
1    2
2    3
3    4
dtype: int32

### 3. Using dictionary
Series will convert `key` into `labels` and `values` into `data`

In [6]:
pd.Series(data=dict)

a    10
b    20
c    30
d    40
dtype: int64

## Creating labels
With the `index` argument, we can name our own label.

In [12]:
ser = pd.Series(data=my_list, index=labels)

In [13]:
ser

a        apple
b       banana
c    pineapple
dtype: object

#### To access this values, we can use this labels

In [15]:
# label is a character in this case, so we have to use the single quotes to access the values.
ser['a']

'apple'

### Since, arguments data and index are in order. We can pass the values without mentioning the arguments name.

In [19]:
pd.Series(my_list, labels)

a        apple
b       banana
c    pineapple
dtype: object

## Important Note
If you wants a custom label, the size of `data` and `label` should be `equal`, otherwise you will get a `ValueError`.

In [16]:
pd.Series(data=arr, index=labels)

ValueError: Length of values (4) does not match length of index (3)

In [18]:
# Switching the positions
pd.Series(data=labels, index=arr)

ValueError: Length of values (3) does not match length of index (4)

### We can also add two series objects.

In [21]:
ser1 = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
ser2 = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'f', 'g'])

In [22]:
ser1 + ser2

a    2.0
b    4.0
c    6.0
d    NaN
e    NaN
f    NaN
g    NaN
dtype: float64

<p style="background: black; color: white">The labels which are present in both series, thier values get <code>added</code> and the labels which are <code>unique</code> holds <code>NaN</code> value.</p>