# DataFrame Part-3

## Multi Index and Index Hierarchy

In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
df = pd.DataFrame(randn(6,2), index=hier_index, columns=['A', 'B'])

In [7]:
df

             A         B
G1 1 -0.303664  0.720755
   2 -0.587980  0.578779
   3  0.206640  0.781933
G2 1 -0.080802  1.684550
   2 -0.365059 -1.434475
   3  1.223003 -0.495618

This is the `multilevel` index.

### Accessing the values from this tables

In [8]:
df.loc['G1']

          A         B
1 -0.303664  0.720755
2 -0.587980  0.578779
3  0.206640  0.781933

In [11]:
df.loc['G1'].loc[1]

A   -0.303664
B    0.720755
Name: 1, dtype: float64

#### Naming the index

In [13]:
df.index.names

FrozenList([None, None])

In [14]:
df.index.names = ["Group", "Num"]

In [15]:
df

                  A         B
Group Num
G1    1   -0.303664  0.720755
      2   -0.587980  0.578779
      3    0.206640  0.781933
G2    1   -0.080802  1.684550
      2   -0.365059 -1.434475
      3    1.223003 -0.495618

#### Accessing a single value.

In [16]:
df.loc['G2']

            A         B
Num
1   -0.080802  1.684550
2   -0.365059 -1.434475
3    1.223003 -0.495618

In [17]:
df.loc['G2'].loc[2]

A   -0.365059
B   -1.434475
Name: 2, dtype: float64

In [18]:
df.loc['G2'].loc[2]['B']

-1.4344747768462571

### df.xs() method
* `xs` stands for cross section.
* It will become easy to grab values from this method.

In [19]:
df

                  A         B
Group Num
G1    1   -0.303664  0.720755
      2   -0.587980  0.578779
      3    0.206640  0.781933
G2    1   -0.080802  1.684550
      2   -0.365059 -1.434475
      3    1.223003 -0.495618

In [20]:
df.xs('G1')

            A         B
Num
1   -0.303664  0.720755
2   -0.587980  0.578779
3    0.206640  0.781933

* we can also access a particular row value.
* Just pass the `row` number you want and the name of `inner index` column.

In [21]:
df.xs(1, level='Num')

              A         B
Group
G1    -0.303664  0.720755
G2    -0.080802  1.684550